@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto"; }

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto Bold"; }

body {
  margin: 0; }
  body h1 {
    font-family: Roboto Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 15px; }
    @media screen and (max-width: 674px) {
      body h1 {
        font-weight: 500;
        font-size: 32px;
        margin: 40px 0 5px 0; } }
  body h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: Bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    padding-top: 80px;
    margin: 0; }
    @media screen and (max-width: 674px) {
      body h2 {
        padding-top: 40px;
        font-size: 24px; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px; }
  @media screen and (max-width: 674px) {
    header {
      height: 68px; } }
  header .header__logo {
    display: inline-block;
    width: 115px;
    margin-left: 3vw; }
  header .nav_wrapper {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px; }
    header .nav_wrapper > nav {
      margin-right: 40px; }
    header .nav_wrapper ul {
      width: 100%; }
      header .nav_wrapper ul li {
        display: inline-block;
        padding-left: 30px; }
        header .nav_wrapper ul li > a {
          text-decoration: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px; }
          header .nav_wrapper ul li > a:hover {
            color: red; }
    header .nav_wrapper > button {
      width: 106px;
      height: 43px;
      border: 1px solid rgba(27, 27, 27, 0.4);
      box-sizing: border-box;
      border-radius: 6px;
      background-color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px; }
      header .nav_wrapper > button:hover {
        background-color: green;
        color: white; }
    @media screen and (max-width: 674px) {
      header .nav_wrapper {
        display: none; } }
  header .header__mobile_menu {
    display: none; }
    @media screen and (max-width: 674px) {
      header .header__mobile_menu {
        display: inline-block;
        margin-right: 3vw; } }

footer {
  height: 124px;
  background-color: #3F3D56;
  display: flex;
  align-items: center; }
  footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw 0 3vw;
    align-items: center;
    height: 27px;
    width: 100%; }
    @media screen and (max-width: 674px) {
      footer .footer__wrapper {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center; } }

.about {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about > img {
    margin-top: 80px; }
  @media screen and (max-width: 674px) {
    .about__img {
      display: none; } }
  .about__img-mobile {
    display: none; }
    @media screen and (max-width: 674px) {
      .about__img-mobile {
        display: block; } }
  .about > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 147.3%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 80px; }
    @media screen and (max-width: 674px) {
      .about > p {
        margin: 5px 20px 40px;
        font-size: 16px; } }

.contact {
  background-color: #F7F9FB;
  height: 341px; }
  @media screen and (max-width: 674px) {
    .contact {
      height: 237px; } }
  .contact__content {
    display: flex;
    justify-content: center;
    margin-top: 43px; }
    @media screen and (max-width: 674px) {
      .contact__content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px; }
        .contact__content > img {
          display: none; } }
    .contact__content > div {
      display: flex;
      flex-direction: column; }
    .contact__content .contact_post {
      margin-right: 69px;
      width: 13%; }
      @media screen and (max-width: 674px) {
        .contact__content .contact_post {
          margin: 5px auto;
          width: auto; } }
    .contact__content .contact__phone {
      margin-left: 69px;
      width: 13%; }
      @media screen and (max-width: 674px) {
        .contact__content .contact__phone {
          margin: 5px auto;
          width: auto; } }
  .contact_titel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #4F4F4F;
    margin: 0 0 3px 0; }
    @media screen and (max-width: 674px) {
      .contact_titel {
        font-size: 12px; } }
  .contact_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    margin: 0 0 3px 0; }
    @media screen and (max-width: 674px) {
      .contact_info {
        font-size: 14px;
        margin-bottom: 20px; } }

@media screen and (max-width: 674px) {
  .team__img {
    display: none; } }

.team__men {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap; }
  @media screen and (max-width: 674px) {
    .team__men {
      margin: 0 16% 30px 16%; } }
  .team__men > div {
    width: 180px;
    height: 261px;
    margin-top: 55px;
    margin-left: 5%; }
    @media screen and (max-width: 674px) {
      .team__men > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
        height: 167px;
        margin-top: 30px;
        margin-left: 17%; }
        .team__men > div:nth-child(odd) {
          margin-left: 0px; } }
    .team__men > div:nth-child(1) {
      margin-left: 0px; }

.team__women {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 120px; }
  @media screen and (max-width: 674px) {
    .team__women {
      margin: 0 16% 30px 16%; } }
  .team__women > div {
    width: 180px;
    height: 261px;
    margin-top: 55px;
    margin-left: 5%; }
    @media screen and (max-width: 674px) {
      .team__women > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
        height: 167px;
        margin-top: 30px;
        margin-left: 17%; } }
    .team__women > div:nth-child(1) {
      margin-left: 0px; }

.team_img-mobile {
  display: none; }
  @media screen and (max-width: 674px) {
    .team_img-mobile {
      display: block; } }

.team__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 147.3%;
  text-align: center;
  margin: 23px 0 4px 0; }
  @media screen and (max-width: 674px) {
    .team__name {
      font-size: 16px; } }

.team__position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  text-align: center;
  color: #828282;
  margin: 4px 0 0 0; }
  @media screen and (max-width: 674px) {
    .team__position {
      font-size: 12px; } }
